.container{
   width: 920px
}

.label{
   div{
      font-size: 16px;
   }
}

@media (max-width: 941px){
   .container{
      width: 720px
   }
   
   
}

@media (max-width: 741px){
   .container{
      width: 520px
   }
   .label{
      div{
         font-size: 12px;
      }
   }
}

@media (max-width: 541px){
   .container{
      width: 350px
   }
}