.player{
   height:  80px;
   width: 920px;
   width: 100%;
   position: fixed;
   bottom: 0;
   display: flex;
   align-items: center;
   padding: 20;
   background-color: #d3d3d3;
}

.info{
  margin-right: 0; 
}
.progress{
   width: 100px;
}
.container{
   width: 920px
}

.label{
      font-size: 24px;
}

.value,
.text{
   font-size: 14px;
}


@media (max-width: 941px){
   .container{
      width: 720px
   }
   
   
}

@media (max-width: 741px){
   .container{
      width: 520px
   }

   

   .label{
         font-size: 16px;
      margin: 0;
   }

   .value,
   .text{
      font-size: 12px;
      margin: 0;
   }
}

@media (max-width: 541px){
   .container{
      width: 350px
   }
   .label{
      font-size: 12px;
   }
   .info{
      margin-right: 100px; 
    }
}